extends layout

block content
    include includes/mainHeader
    include includes/appTweet
    .bounds.app--body
        include includes/appHeader
        include includes/timeline
        include includes/appFollows
        include includes/appMessages
    include includes/scripts